<!DOCTYPE html>
<html>

<head>
    <title>
        <%= title %>
    </title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body>
    <header>
        <h1>
            Furniture For You
        </h1>

        <div id='nav-links-container'>
            <a href='/' class='nav-links'>
                Home
            </a>

            <a href='/categories' class='nav-links'>
                Categories
            </a>
        </div>

    </header>

    <div class='title-container'>
        <h2 class='title'>
            <%= title %>
                <br>
                <a href='/item/create'>
                    Create New Item
                </a>
        </h2>

    </div>

    <div id='category-list-container'>
        <% category_items.map((item)=> { %>
            <div class='category-list-item'>
                <a href=<%=item.url%> class='category-details'>
                    <h2>
                        <%= item.item_name %>
                    </h2>
                    <p>
                        <%= item.item_description %>
                    </p>
                </a>
            </div>

            <% }) %>
    </div>
</body>

</html>