<!DOCTYPE html>
<html>

<head>
    <title>
        <%= title %>
    </title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body>
    <h1>
        <%= title %>
    </h1>

    <h3>
        <a href='/'>
            Home
        </a>
    </h3>

    <form method="POST" action="">

        <label for="category_name">Category Name:</label>
        <input id="category_name" name="category_name" type="text" placeholder="Category Name"
            value="<%= category !== undefined ? category.category_name : ''%>">

        <label for="category_desc">Category Description:</label>
        <input id="category_desc" name="category_description" type="text" placeholder="Category Description"
            value="<%= category !== undefined ? category.category_description : ''%>">

        <button type="submit">Submit</button>
    </form>

    <% if (typeof errors !='undefined' ) { %>
        <ul>
            <% errors.forEach(err=> { %>
                <li>
                    <%= err.msg %>
                </li>
                <% }) %>
        </ul>
        <% } %>
</body>

</html>