<!DOCTYPE html>
<html>

<head>
    <title>
        <%= title %>
    </title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body>
    <h1>
        <%= title %>
    </h1>

    <h3>
        <a href='/'>
            Home
        </a>
    </h3>

    <h3>
        <a href="<%=`${category.url}/delete` %>">
            Delete
        </a>
    </h3>

    <h3>
        <a href='/item/create'>
            Create New Item
        </a>
    </h3>

    <% category_items.map((item)=> {%>
        <div>
            <div>
                <a href=<%=item.url%>>
                    <%= item.item_name %>
                </a>
            </div>
        </div>
        <%})%>
</body>

</html>