<!DOCTYPE html>
<html>

<head>
    <title>
        <%= title %>
    </title>
    <link rel='stylesheet' href='/stylesheets/form.css' />
</head>

<body>
    <header>
        <h1>
            Furniture For You
        </h1>

        <div id='nav-links-container'>
            <a href='/' class='nav-links'>
                Home
            </a>

            <a href='/categories' class='nav-links'>
                Categories
            </a>
        </div>

    </header>


    <div id='form-container'>

        <div class='title-container'>
            <h2 class='title'>
                <%= `${title}: ${item.item_name}` %>
            </h2>
        </div>

        <form method="POST" action="">

            <label for="item_name">Item Name:</label>
            <input id="item_name" name="item_name" type="text" placeholder="Item Name"
                value="<%= item !== undefined ? item.item_name : '' %>">

            <label for="item_category">Item Category:</label>
            <select type="select" name="item_category" placeholder="Item Category">
                <% categories.forEach(category=> {%>
                    <option value="<%= category._id %>">
                        <%= category.category_name %>
                    </option>
                    <% }) %>

            </select>

            <label for="item_description">Item Description:</label>
            <textarea id="item_description" name="item_description" type="text"
                placeholder="Item Description"><%= item !== undefined ? item.item_description : '' %></textarea>

            <label for="item_stock">Item Stock:</label>
            <input id="item_stock" name="item_stock" type="text" placeholder="Item Stock"
                value="<%= item !== undefined ? item.item_stock : '' %>">

            <label for="item_price">Item Price:</label>
            <input id="item_price" name="item_price" type="text" placeholder="Item Price"
                value="<%= item !== undefined ? item.item_price : '' %>">

            <button type="submit">Submit</button>
        </form>
    </div>

    <% if (typeof errors !='undefined' ) { %>
        <ul>
            <% errors.forEach(err=> { %>
                <li>
                    <%= err.msg %>
                </li>
                <% }) %>
        </ul>
        <% } %>
</body>

</html>