<!DOCTYPE html>
<html>

<head>
    <title>
        <%= title %>
    </title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body>
    <header>
        <h1>
            Furniture For You
        </h1>

        <div id='nav-links-container'>
            <a href='/' class='nav-links'>
                Home
            </a>

            <a href='/categories' class='nav-links'>
                Categories
            </a>
        </div>

    </header>

    <div class='item-container'>
        <h2 class='title'>
            <%= title %>
        </h2>
        <p>
            <%= item_detail.item_description %>
        </p>
        <div>
            <h3>
                Price: £<%= item_detail.item_price%>
            </h3>

            <h3>
                Stock: <%= item_detail.item_stock%>
            </h3>

        </div>

        <a href="<%=`${item_detail.url}/update` %>">
            <img class='create-new-btn' src="http://localhost:3000/images/edit.png" alt="new category">
        </a>
        <a href="<%=`${item_detail.url}/delete` %>">
            <img class='create-new-btn' src="http://localhost:3000/images/delete.png" alt="new category">
        </a>
    </div>
</body>

</html>