<!DOCTYPE html>
<html>

<head>
    <title>
        <%= title %>
    </title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body>
    <h1>
        <%= title %>
    </h1>

    <h3>
        <a href='/'>
            Home
        </a>
    </h3>

    <h3>
        <a href="<%=`${item_detail.url}/delete` %>">
            Delete
        </a>
    </h3>

    <h3>
        <a href="<%=`${item_detail.url}/update` %>">
            Update
        </a>
    </h3>

    <div>
        <h3>
            Price: £<%= item_detail.item_price%>
        </h3>

        <h3>
            Stock: <%= item_detail.item_stock%>
        </h3>

        <p>
            Description: <%= item_detail.item_description %>
        </p>
    </div>
</body>

</html>